<p>
  render-data-component works!
</p>
<i [c8yIcon]="'collapse-arrow'"></i>
<div class="animated flash infinite">Hello, I'm flashing forever!</div>

<div class="container-fluid">
  <table class="table table-striped c8y-table-responsive">
    <thead>
      <tr>
        <th>Number</th>
        <th>Table heading 1</th>
        <th>Table heading 2</th>
        <th>Table heading 3</th>
        <th>Table heading 4</th>
        <th>Table heading 5</th>
        <th>Table heading 6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th data-label="Number" scope="row">1</th>
        <td data-label="Table heading 1">Table cell</td>
        <td data-label="Table heading 2">Table cell</td>
        <td data-label="Table heading 3">Table cell</td>
        <td data-label="Table heading 4">Table cell</td>
        <td data-label="Table heading 5">Table cell</td>
        <td data-label="Table heading 6">Table cell</td>
      </tr>
      <tr>
        <th data-label="Number" scope="row">2</th>
        <td data-label="Table heading 1">Table cell</td>
        <td data-label="Table heading 2">Table cell</td>
        <td data-label="Table heading 3">Table cell</td>
        <td data-label="Table heading 4">Table cell</td>
        <td data-label="Table heading 5">Table cell</td>
        <td data-label="Table heading 6">Table cell</td>
      </tr>
      <tr>
        <th data-label="Number" scope="row">3</th>
        <td data-label="Table heading 1">Table cell</td>
        <td data-label="Table heading 2">Table cell</td>
        <td data-label="Table heading 3">Table cell</td>
        <td data-label="Table heading 4">Table cell</td>
        <td data-label="Table heading 5">Table cell</td>
        <td data-label="Table heading 6">Table cell</td>
      </tr>
    </tbody>
  </table>
</div>
