


<div class="container-fluid">
  <table class="table table-striped c8y-table-responsive">
    <thead>
      <tr>
        <th>Number</th>
        <th>Table heading 1</th>
        <th>Table heading 2</th>
        <th>Table heading 3</th>
        <th>Table heading 4</th>
        <th>Table heading 5</th>
        <th>Table heading 6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th data-label="Number" scope="row">1</th>
        <td data-label="Table heading 1">Table cell</td>
        <td data-label="Table heading 2">Table cell</td>
        <td data-label="Table heading 3">Table cell</td>
        <td data-label="Table heading 4">Table cell</td>
        <td data-label="Table heading 5">Table cell</td>
        <td data-label="Table heading 6">Table cell</td>
      </tr>
      <tr>
        <th data-label="Number" scope="row">2</th>
        <td data-label="Table heading 1">Table cell</td>
        <td data-label="Table heading 2">Table cell</td>
        <td data-label="Table heading 3">Table cell</td>
        <td data-label="Table heading 4">Table cell</td>
        <td data-label="Table heading 5">Table cell</td>
        <td data-label="Table heading 6">Table cell</td>
      </tr>
      <tr>
        <th data-label="Number" scope="row">3</th>
        <td data-label="Table heading 1">Table cell</td>
        <td data-label="Table heading 2">Table cell</td>
        <td data-label="Table heading 3">Table cell</td>
        <td data-label="Table heading 4">Table cell</td>
        <td data-label="Table heading 5">Table cell</td>
        <td data-label="Table heading 6">Table cell</td>
      </tr>
    </tbody>
  </table>
</div>


<ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendPosition]="'below'"
  [animations]="true"
  [legendTitle]="''"
  [wrapTicks]="true"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-horizontal>